<div class="wrapper">
  <header class="display-3 pl-4 text-left">Contact App</header>
  <section>
    <div class="card-rounded-0 bg-dark">
<div class="card-header">
  <h4 class="text-left pl-3">Menu</h4>
  <div class="card-body">

  </div>
  <ul>
    <li>
      <a href="" routerLink='/showContacts'>View Contact List</a>
      <a href="" routerLink='/addContact'>Add a Contact</a>
 
    </li>
  </ul>
  </div>

    
    </div>
  
  
  </section>
  <main>
  
    <router-outlet></router-outlet>
    
  </main>
  <footer>footer</footer>
  </div>